html,
body,
header,
#intro {
 height: 100%;
}
#intro {
 background: url("../img/bg.jpg") no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
} 
.creme {
    height: 63vh;
    margin-bottom: 5vh;
} 
.creme-text{
    height: 21vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.my-title {
    font-size: 20px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}

.my-title::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    margin: 4px 10px;
}

.my-description{
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #ffa5a9;
}

.testimonial-img {
    width: 90px;
    border-radius: 50%;
    position: center;
    z-index: 2;
    border: 6px solid rgba(255, 255, 255, 0.2);
}

.body-dark{
    border: solid 0.5px teal;
    background-color:  #343a40 !important;
    color: lightslategrey !important;
}

.text-left{
    text-align: left impo !important;
}